$border: solid 1px rgb(175, 216, 248);

#grid {
  border-bottom: $border;
  border-right: $border;
  display: grid;
  grid-template-columns: repeat(51, 1fr);
  width: 85%;
  margin: auto;
}

#exemple {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  .exemple-container {
    display: flex;
    p {
      margin: 0 8px;
    }
  }
}
